#formulario-contacto input,
#formulario-contacto textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#formulario-contacto button {
    background: var(--color-acento);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}