.dark-mode {
    background-color: #1e1e2f;
    color: #f9f9f9;
}

.dark-mode .header,
.dark-mode footer {
    background-color: #111827;
}

.dark-mode .tarjeta,
.dark-mode .imagen-tarjeta {
    background-color: #374151;
}

.dark-mode a {
    color: #93c5fd;
}